koruza-hs-flex-PCB/History/*
koruza-hs-flex-PCB/__Previews/*
koruza-hs-flex-PCB/Project Logs for koruza-hs-flex-PCB/*

docs/*
koruza-hs-flex-PCB/__Previews/koruza-hs-flex-PCB.PcbDocPreview
koruza-hs-flex-PCB/__Previews/PAGE1-CONTENTS.SchDocPreview
koruza-hs-flex-PCB/__Previews/PAGE2-SFP_CONNECTORS.SchDocPreview
koruza-hs-flex-PCB/koruza-hs-flex-PCB.PcbDoc.htm
*.PcbDocPreview
